.corner-bottm-left {
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.corner-top-right {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid black;
}

.header {
  flex-wrap: wrap;
}
