.App {
  text-align: center;
}

.line-break {
  width: 100%;
}

.content {
  flex-wrap: wrap;
}

.articleBody {
  overflow: auto;
}

pre {
  font-size: 0.9rem !important;
}

.image-container {
  display: flex;
  justify-content: center;
}
